.slider {
   position: relative;
   width: 100%;
}
.slider__ul {
   position: relative;
   height: 822px;
}
.slider__li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity 0.4s linear;
}
.slider__li_active {
   opacity: 1;
}
.slider__img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider__buttons-block {
   position: absolute;
   top: 50%;
   left: 10px;
   margin-top: -14px;
   display: flex;
   justify-content: space-between;
}
.slider__button {
   text-decoration: none;
   transition: box-shadow 0.4s linear;
}

.slider__button_prev {
   margin-left: 28px;
   margin-right: 37px;
   @media (min-width: 768px) {
      margin-right: 49px;
   }
}
.slider__button_next {
   margin-right: 28px;
   margin-left: 37px;
   @media (min-width: 768px) {
      margin-left: 49px;
   }
}
.slider__pages-block {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -151px;
   padding: 15.5px 0;
   border-radius: 5px;
   background: #ffffff 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 16px #00000029;
   opacity: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (min-width: 450px) {
      padding: 21px 0;
      margin-left: -180px;
   }
}
.slider__pages-ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.slider__pages-li {
   display: block;
   margin-left: 3px;
   border-radius: 50%;
   width: 38px;
   height: 37px;
   cursor: pointer;
   transition: background-color 0.4s linear;
   position: relative;
   @media (min-width: 450px) {
      margin-left: 36px;
   }

   &::before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      background-color: #e1e1e1;
      border-radius: 50%;
      left: 50%;
      margin-left: -6px;
      top: 50%;
      transform: translateY(-6px);
   }

   &:nth-child(2) {
      margin-left: 0;
   }
}
.slider__pages-li:hover {
   background-color: #ffbc21;
}
.slider__pages-li_active {
   border: 1px solid #e1e1e1;
   &::before {
      background-color: #ffbc21;
   }
}
.rotate {
   transform: rotate(180deg);
   margin-left: 7px;
}
